@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.code-container {
  /* width: 100%; */
  height: 250px;
  overflow: auto;
  white-space: nowrap;
  font-family: monospace;
  border: 1px solid #0000;
  padding: 10px;
  border: 1px solid #0000001a; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Add padding to the sides */
  background-color: #0000; /* Light background color */
}

.code-container .monaco-editor {
  background-color: #0000;
  box-shadow: 0 0 10px #0000;
}

.table-container {
  max-height: min(90vh, 500px);
  overflow-y: auto;

}

.repo-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0000; /* Optional: Set a background color for the footer */
  padding: 5px; /* Optional: Add padding for better appearance */
  padding-right: 10px;
  text-align: right;
}
